[submodule "CSwiftV"]
	path = CSwiftV
	url = https://github.com/Daniel1of1/CSwiftV.git
[submodule "Charts"]
	path = Charts
	url = https://github.com/danielgindi/Charts.git
[submodule "SQLite"]
	path = SQLite
	url = https://github.com/stephencelis/SQLite.swift.git
