[submodule "CSwiftV"]
	path = Submodules/CSwiftV
	url = https://github.com/Daniel1of1/CSwiftV.git
[submodule "SQLite.swift"]
	path = Submodules/SQLite.swift
	url = https://github.com/stephencelis/SQLite.swift.git
[submodule "Charts"]
	path = Submodules/Charts
	url = https://github.com/danielgindi/Charts.git
